
    <h3>Want List</h3>
    <%  _.each(data, function(wanted) { %>
        <a href="<%= sails.getBaseurl() %>/card/<%= wanted.card.id %>"><%= wanted.card.name %></a> &mdash; <%= wanted.qty %>, <%= wanted.condition.shorthand %></br />
    <% }) %>
