<div class="container">
    <div class="row">
        <h3> <%= data.card.name %> </h3>
        <div class="col-md-6">
            <li> Name: <%= data.card.name %></li>
            <% if (data.card.manaCost) { %><li> Casting Cost: <%= data.card.manaCost %></li><% } %>
            <li> Card Set: <img src="http://mtgimage.com/symbol/all/<%= data.card.set.code %>/<%= data.card.rarity %>/16.png"> &mdash; <a href="<%= sails.getBaseurl() %>/set/<%= data.card.set.id %>"><%= data.card.set.name %></a>, <%= data.card.rarity %></li>
            <li> Card Type: <%= data.card.type %></li>
            <li> Color: <% if (data.card.colors) { %> <%= data.card.colors %> <% } else { %> Colorless <% } %></li>
            <li> Card Text: <%= data.card.text %></li>
            <% if (data.card.flavor) { %><li> Flavor Text: <%= data.card.flavor %></li> <% } %>
            <li> Artist: <%= data.card.artist %></li>
        </div>
        <div class="col-md-6">
            <img class="cardImage" src="http://mtgimage.com/set/<%= data.card.set.code %>/<%= data.card.imageName %>.full.jpg ">
        </div>
    </div>
</div>