<% if(req.session.authenticated && (data.receiver.id == req.session.user.id || data.sender.id == req.session.user.id)) { %>
    <% if(!data || data.lenth == 0) { %>
        This trade does not exist.
    <% } else { %>
        <h2>Trade #<%= data.id %></h2>
        <a href="/trade/myTrades?user=<%= req.session.user.id %>">Back to Trades</a>
        <table class="table table-striped">
            <% if(data.sender.id == req.session.user.id) { %>
                <h2>Your Cards</h2>
            <% } else { %>
                <h2><a href="/user/<%= data.sender.id %>"><%= data.sender.username %></a>'s Cards</h2>
            <% } %>
            <thead>
                <th>Name</th>
                <th>Set</th>
                <th>Condition</th>
                <th>Qty</th>
            </thead>
            <tbody>
                <% _.each(data.senderCards, function(card) { %>
                    <tr>
                        <td><a href="/card/<%= card.id %>"><%= card.name %></a></td>
                        <td><a href="/set/<%= card.set.id %>"><%= card.set.name %></td>
                        <td>Condition</td>
                        <td>Qty</td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <table class="table table-striped">
            <% if(data.receiver.id == req.session.user.id) { %>
                <h2>Your Cards</h2>
            <% } else { %>
                <h2><a href="/user/<%= data.receiver.id %>"><%= data.receiver.username %></a>'s Cards</h2>
            <% } %>
            <thead>
                <th>Name</th>
                <th>Set</th>
                <th>Condition</th>
                <th>Qty</th>
            </thead>
            <tbody>
                <% _.each(data.receiverCards, function(card) { %>
                    <tr>
                        <td><a href="/card/<%= card.id %>"><%= card.name %></a></td>
                        <td><a href="/set/<%= card.set.id %>"><%= card.set.name %></td>
                        <td>Condition</td>
                        <td>Qty</td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <% if(data.receiver.id == req.session.user.id) { %>
            <% if (data.status.id == 1) { %>
                This trade is <%= data.status.name %><br />
                <form id="trade<%= data.id %>" class="tradeAccept" method="post" action="/trade/accept">
                    <input type="hidden" name="tradeId" value="<%= data.id %>">
                    <button type="submit">Accept Trade</button>
                </form>
                <form id="trade-dec<%= data.id %>" class="tradeDecline" method="post" action="/trade/decline">
                    <input type="hidden" name="tradeId" value="<%= data.id %>">
                    <button type="submit">Decline Trade</button>
                </form>
            <% } else if(data.status.id == 2 || data.status.id == 3) { %>
                You have <%= data.status.name %> this trade.
            <% } else if(data.status.id == 4 || data.status.id == 5) { %>
                This trade was Canceled by <% if(data.status.id == 4) { %><%= data.sender.username %><% } else { %>the Administrator<% } %>
            <% } else { %>
                This trade is <%= data.status.name %>.
            <% } %>
        <% } else { %>
            <% if (data.status.id == 1) { %>
                Waiting for <%= data.receiver.username %> to accept.
                <form id="trade-canc<%= data.id %>" class="tradeCancel" method="post" action="/trade/cancel">
                    <input type="hidden" name="tradeId" value="<%= data.id %>">
                    <button type="submit">Cancel Trade</button>
                </form>
            <% } else if (data.status.id == 2 || data.status.id == 3) { %>
                <%= data.receiver.username %> has <%= data.status.name %> your trade offer.
            <% } else if (data.status.id == 4 || data.status.id == 5) { %>
                <% if(data.status.id == 4) { %>You have <% } else { %>The Administrator has <% } %>Canceled this trade.
            <% } else { %>
                This trade is <%= data.status.name %>.
            <% } %>
        <% } %>
    <% } %>
<% } else { %>
    You do not have permssion to view this page
<% } %>