
    <h3>Have List</h3>
    <%  _.each(data, function(has) { %>
        <a href="<%= sails.getBaseurl() %>/card/<%= has.card.id %>"><%= has.card.name %></a> &mdash; <%= has.qty %>, <%= has.condition.shorthand %></br />
    <% }) %>
