
    <div>
        <%  if (!data) { %>
            <hr>
            There are no cards in this Have List.
        <% } else { %>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Rarity</th>
                    <th>Set</th>
                    <th>Type</th>
                    <th>Condition</th>
                    <th>Quantity</th>
                    <% if(req.session.authenticated && req.session.user.id == req.param('user')) { %>
                    <th>Update</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
            <%_.each(data, function(has) { %>
                <tr>
                    <td>
                        <a href="<%= sails.getBaseurl() %>/card/<%= has.card.id %>"><img class="cardThumb" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= has.card.multiverseId %>&type=card"></a>
                    </td>
                    <td>
                        <a href="<%= sails.getBaseurl() %>/card/<%= has.card.id %>"><%= has.card.name %></a>
                    </td>
                    <td>
                        <%= has.card.rarity %>
                    </td>
                    <td>
                        <a href="<%= sails.getBaseurl() %>/set/<%= has.card.set %>"><%= has.card.set.name %></a>
                    </td>
                    <td>
                        <%= has.card.type %>
                    </td>
                    <td>
                        <%= has.condition.shorthand %>
                    </td>
                    <% if(req.session.authenticated && req.session.user.id == req.param('user')) { %>
                    <form role="form" method="post" formaction="/">
                    <td>
                        <input type="number" value="<%= has.qty %>" name="qty">
                    </td>
                    <td>
                        <button type="submit">Update</button>
                    </td>
                    </form>
                    <% } else { %>
                    <td>
                        <%= has.qty %>
                    </td>
                    <% } %>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>