<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard // Opacity Admin</title>

    <!-- Default Styles (DO NOT TOUCH) -->
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/opacity-admin.css"/>

    <!-- Adjustable Styles -->
    <link rel="stylesheet" href="/styles/perfect-scrollbar.min.css">

    <link rel="stylesheet" href="/styles/style.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <script src="lib/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- SETTINGS -->
    <!--
    <div class="btn-group" id="settings">
        <a class="btn btn-info" href="#" onclick="$('#settings .dropdown-menu').toggle();"><span class="fa fa-cogs"></span></a>
        <div class="dropdown-menu">
            <div class="title">Backgrounds</div>
            <div class="main main-nr">
                <ul class="bgs">
                    <li><a href="#" onclick="setBG(1);"><img src="/images/img/bg1.jpg"></a></li>
                    <li><a href="#" onclick="setBG(2);"><img src="/images/img/bg2.jpg"></a></li>
                    <li><a href="#" onclick="setBG(3);"><img src="/images/img/bg3.jpg"></a></li>
                </ul>
            </div>

        </div>
    </div>
    -->

    <div class="contain">

        <div class="left hidden-xs">
            <div class="sidebar">
                <form role="form" action="/search" method="post">
                    <input class="typeahead" type="text" name="search" placeholder="Search...">
                    <span id="search-icon" class="glyphicon glyphicon-search"></span>
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn" href="<%= sails.getBaseurl() %>">
                                <span class="fa fa-home"></span>
                                <span class="full">Home</span>
                            </a>
                        </div>
                    </div>
                    <% if(req.session.authenticated) { %>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn" data-toggle="collapse" href="#c-dash">
                                <span class="fa fa-dashboard"></span>
                                <span class="full">Dashboard</span>
                                <span class="caret"></span>
                            </a>
                        </div>
                        <div id="c-dash" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="/haveList?user=<%= req.session.user.id %>" class="sbtn">
                                    <span class="fa fa-archive"></span>Collection
                                </a>
                                <a href="buttons.html" class="sbtn">
                                    <span class="fa fa-book"></span>Trades
                                </a>
                                <a href="/wantList?user=<%= req.session.user.id %>" class="sbtn">
                                    <span class="fa fa-bars"></span>Want List
                                </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn" href="/search">
                                <span class="icon icon-list-alt"></span>
                                <span class="full">Card Library</span>
                            </a>
                        </div>
                    </div>
                    <% if(req.session.authenticated) { %>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn" data-toggle="collapse" href="#c-user">
                                <span class="fa fa-user"></span>
                                <span class="full">User</span>
                                <span class="caret"></span>
                            </a>
                        </div>
                        <div id="c-user" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="general.html" class="sbtn">Profile</a>
                                <a href="buttons.html" class="sbtn">Messages</a>
                                <a href="notifications.html" class="sbtn">Notifications</a>
                                <a href="<%= sails.getBaseurl() %>/logout" class="sbtn">Logout</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="right">

            <div class="col-md-12">
                <div class="logo"><a href="<%= sails.getBaseurl() %>"><img id="logo" src="/images/img/logo3.png"></a></div>
                <div class="logoxs"><a href="<%= sails.getBaseurl() %>"><img id="logo" src="/images/img/logo_sm.png"></a></div>
                <div class="nav">
                    <div class="hov">
                        <div class="btn-group">
                            <a class="con" href="" data-toggle="dropdown"><span class="fa fa-bell"></span></a>
                            <div class="dropdown-menu pull-right" role="menu">
                                <div class="drop-item">
                                    <div class="drop-icon font-danger"><span class="fa fa-tachometer"></span></div>
                                    <div class="drop-info">
                                        <div class="drop-content">Phasellus tincidunt tincidunt velit shal...</div>
                                        <div class="drop-description">Bandwidth</div>
                                        <div class="drop-time">1/31 1:37 PM</div>
                                    </div>
                                </div>
                                <div class="drop-item">
                                    <div class="drop-icon font-success"><span class="fa fa-shopping-cart"></span></div>
                                    <div class="drop-info">
                                        <div class="drop-content">Ut tempus eros massa ut dolor, aenan...</div>
                                        <div class="drop-description">Purchase</div>
                                        <div class="drop-time">1/31 11:24 AM</div>
                                    </div>
                                </div>
                                <div class="drop-item">
                                    <div class="drop-icon font-warning"><span class="fa fa-laptop"></span></div>
                                    <div class="drop-info">
                                        <div class="drop-content">Aliquet fringilla sem. Suspendisse velit...</div>
                                        <div class="drop-description">Server</div>
                                        <div class="drop-time">1/31 6:07 AM</div>
                                    </div>
                                </div>
                                <div class="drop-item">
                                    <div class="drop-icon font-info"><span class="fa fa-info-circle"></span></div>
                                    <div class="drop-info">
                                        <div class="drop-content">Dolor ut eros velite sem shal tempetus...</div>
                                        <div class="drop-description">Statistics</div>
                                        <div class="drop-time">1/30 9:46 PM</div>
                                    </div>
                                </div>
                                <div class="drop-item drop-footer">
                                    <div class="drop-info">
                                        <div class="drop-description">See all of the current alerts...</div>
                                        <div class="drop-time"><span class="fa fa-angle-double-right"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if(req.session.authenticated) { %>
                        <div class="btn-group">
                            <a class="con" href="#" data-toggle="dropdown"><span class="fa fa-envelope"></span></a>
                            <div class="dropdown-menu pull-right" role="menu">
                                <% _.each(req.session.user.receivedMessage, function(message){ %>
                                    <div class="drop-item">
                                        <div class="drop-icon font-<% if(message.read = 0) { %>un<% } %>read"><span class="fa fa-envelope-o"></span></div>
                                        <div class="drop-info">
                                            <div class="drop-content"><%= message.subject %></div>
                                            <div class="drop-description">User #<%= message.senderId %></div>
                                            <div class="drop-time"><%= new Date(message.createdAt) %></div>
                                        </div>
                                    </div>
                                <% }); %>
                                <div class="drop-item drop-footer">
                                    <div class="drop-info">
                                        <div class="drop-description">See all of your messages...</div>
                                        <div class="drop-time"><span class="fa fa-angle-double-right"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <div class="btn-group">
                            <a class="con" href="" data-toggle="dropdown"><span class="fa fa-user"></span></a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li class="profile">

                                    <div class="pic"><img src="/images/img/avatars/2.png"></div>
                                    <% if (req.session.authenticated) { %>
                                    <div class="profile-info">
                                        <%= req.session.user.forename %>
                                        <br><a href="#">Profile</a> - <a href="#">Settings</a>
                                    </div>
                                    <% } else { %>
                                    <div class="profile-info">
                                        You are not Logged in.
                                    </div>
                                    <% } %>
                                </li>
                                <% if(req.session.authenticated) { %>
                                <li class="linked">
                                    <a href="#">
                                        <span class="fa fa-envelope-o"></span>Messages
                                    </a>
                                </li>
                                <li class="linked">
                                    <a href="#">
                                        <span class="fa fa-bell-o"></span>Notifications
                                    </a>
                                </li>
                                <li class="linked">
                                    <a href="#">
                                        <span class="fa fa-calendar"></span>Tasks/Events
                                    </a>
                                </li>
                                <% } %>
                                <li class="linked bottom">
                                    <% if (req.session.authenticated) { %>
                                        <a href="<%= sails.getBaseurl() %>/logout">
                                            <span class="icon icon-log-out"></span>Logout
                                        </a>
                                    <% } else { %>
                                        <a href="<%= sails.getBaseurl() %>/login">
                                            <span class="icon icon-log-in"></span>Login
                                        </a>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BEGIN PAGE CONTENT -->
            <div class="content">

                <!-- BREADCRUMBS -->
                <div id="bread" class="col-md-12">
                    <div class="crumbs">
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i> <a href="<%= sails.getBaseurl() %>">Home</a></li>
                        </ol>
                    </div>
                </div>


                <div id="response" class="col-md-12">
                    <div class="rep">
                        <div style="float:right;" class="hov">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="fa fa-bars"></span> Navigation <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li class="linked">
                                        <a href="<%= sails.getBaseurl() %>">
                                            <span class="fa fa-home"></span>
                                            <span class="full">Home</span>
                                        </a>
                                    </li>
                                    <% if(req.session.authenticated) { %>
                                    <li class="linked-head">
                                        <span class="fa fa-dashboard"></span>Dashboard
                                    </li>
                                    <li class="linked">
                                        <a href="/haveList?user=<%= req.session.user.id %>">Collection</a>
                                    </li>
                                    <li class="linked">
                                        <a href="buttons.html">Trades</a>
                                    </li>
                                    <li class="linked top">
                                        <a href="/wantList?user=<%= req.session.user.id %>">Want List</a>
                                    </li>
                                    <% } %>
                                    <li class="linked">
                                        <a href="composition.html">
                                            <span class="icon icon-list-alt"></span>
                                            <span class="full">Card Libaray</span>
                                        </a>
                                    </li>
                                    <% if(req.session.authenticated) { %>
                                    <li class="linked-head">
                                        <span class="fa fa-dashboard"></span>User
                                    </li>
                                    <li class="linked">
                                        <a href="general.html">Profile</a>
                                    </li>
                                    <li class="linked">
                                        <a href="buttons.html">Notifications</a>
                                    </li>
                                    <li class="linked">
                                        <a href="buttons.html">Messages</a>
                                    </li>
                                    <li class="linked top">
                                        <a href="/logout">Log Out</a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MAIN CONTENT -->
                <div class="tbl">
                    <div class="col-md-12">
                        <div class="wdgt wdgt-dark">
                        <div class="wdgt-header">Main</div>
                            <div class="wdgt-body">
                                <%- body %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END PAGE CONTENT -->

        </div>

    </div>

    <script src="/js/dependencies/sails.io.js"></script>

    <!-- Default JS (DO NOT TOUCH) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/opacity.widgets.min.js"></script>
    <script src="/js/hogan.min.js"></script>
    <script src="/js/typeahead.min.js"></script>
    <script src="/js/typeahead-example.js"></script>

    <!-- Adjustable JS -->
    <script src="/js/perfect-scrollbar.min.js"></script>
    <script src="/js/opacity.switches.js"></script>
    <script src="/js/flot/jquery.flot.min.js"></script>
    <script src="/js/flot/jquery.flot.pie.min.js"></script>
    <script src="/js/flot/jquery.flot.selection.min.js"></script>
    <script>

        $(document).ready(function() {
            $('.switch4').change(function () {
                if($(this).val() == 0){
                    $('.contain').addClass('round');
                }else{
                    $('.contain').removeClass('round');
                }
            });

            $('.switch5').change(function () {
                var temp = $(".left").html();
                if($(this).val() == 0){
                    $(".left").remove();
                    $('.right').after('<div class="left hidden-xs">'+temp+'</div>');
                }else{
                    $(".left").remove();
                    $('.right').before('<div class="left hidden-xs">'+temp+'</div>');
                }
            });
        });

        function setBG(which){
            $('body').css('background-image', 'url(images/img/bg'+which+'.jpg)');
        }

        $(document).ready(function() {
            $('a[href="index.html"]').addClass('active').parent().parent().addClass('in');
            $("#tabs").tabs();
            $('.wdgt-tab, .wdgt-messages').perfectScrollbar({suppressScrollX:true});
            $('.wdgt-messages').scrollTop(400);
        });

    </script>

</body>
</html>