

    <div>
        <% if (req.session.authenticated && (data.receiver.id == req.session.user.id || data.sender.id == req.session.user.id)) { %>
        <% if (!data || data.length == 0) { %>
            Message does not exist.
        <% } else { %>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><%= data.subject %></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        From: <a href="/user/<%= data.sender.id %>"><%= data.sender.username %></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Date: <%= data.createdAt %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Message:
                        <p><%= data.message %></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="compose?to=<%= data.sender.username %>&inReplyTo=<%= data.id %>&subject=<%= data.subject %>">Reply</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <% } %>
        <% } else { %>
        You do not have permission to view this page
        <% } %>
    </div>