

    <div>
        <% if (req.session.authenticated && (req.param('receiver') == req.session.user.id || req.param('sender') == req.session.user.id)) { %>
        <% if (req.param('receiver')) { %>
            Inbox | <a href="/message?sender=<%= req.session.user.id %>">Sent</a> | <a href="/message/compose">Compose</a>
        <% } else { %>
            Sent Messages | <a href="/message?receiver=<%= req.session.user.id %>">Inbox</a> | <a href="/message/compose">Compose</a>
        <% } %>
        <%  if (!data || data.length < 1) { %>
            <hr>
            You have no messages. <a href="user/">Make a friend!</a>
        <% } else { %>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Subject</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            <%_.each(data.reverse(), function(message) { %>
                <tr>
                    <td>
                        <%= message.sender.username %>
                    </td>
                    <td>
                        <a href="message/<%= message.id %>"><%= message.subject %></a>
                    </td>
                    <td>
                        <%= message.createdAt %>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>
        <% } else { %>
        <hr>
        You do not have permission to view this page
        <% } %>
    </div>
