<h3> <%= data.name %> <img src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set=<% if (data.gathererCode) { %><%= data.gathererCode %><% } else { %><%= data.code %><% } %>&size=small&rarity=C"></h3>
<li> Name: <%= data.name %></li>
<li> Release Date: <%= data.releaseDate %></li>
<li> Type: <%= data.type %></li>
<% if (data.block) { %><li> Block: <%= data.block %></li><% } %>
<li><a href="<%= sails.getBaseurl() %>/card?set=<%= data.id %>">Card List</a></li>