    <div>
        <form role="form" action="/search" method="post">
            Search for a Card: <input type="text" name="search" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <%  if (!data.cards) { %>
            <hr>
            There were no results for your search.
        <% } else { %>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Rarity</th>
                    <th>Set</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            <%_.each(data.cards, function(card) { %>
                <tr>
                    <td>
                        <a href="<%= sails.getBaseurl() %>/card/<%= card.id %>"><img class="cardThumb" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= card.multiverseId %>&type=card"></a>
                    </td>
                    <td>
                        <a href="<%= sails.getBaseurl() %>/card/<%= card.id %>"><%= card.name %></a>
                    </td>
                    <td>
                        <%= card.rarity %>
                    </td>
                    <td>
                        <a href="<%= sails.getBaseurl() %>/set/<%= card.set.id %>"><%= card.set.name %></a>
                    </td>
                    <td>
                        <%= card.type %>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>
